/* Define CSS variables for colors */
:root {
  --link-color-light: #3366FF; /* Color for light theme links */
  --link-color-dark: #22B14C;  /* Color for dark theme links */
}

/* Combine selectors for light and dark themes */
.reactMarkDownlight a,
.reactMarkDowndark a {
  background-color: transparent;
  text-decoration: none;
}

.reactMarkDownlight a { color: var(--link-color-light); }
.reactMarkDowndark a { color: var(--link-color-dark); }

/* Headings */
.reactMarkDown h2 {
  margin: 0;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.2;
}

/* Additional styles for webxtor: token trade tab bid/ask chart */
.apexcharts-xaxis-label-infini:last-child {
  transform: translateX(-40px);
}

/* dropdown menu css */
#dropdown_menu{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
ul#dropItems {
  list-style: none;
  border-radius: 10px;
  position: absolute;
  overflow: auto;
  padding: 12px;
  width: 230px;
  z-index: 1010;
  top:35px;
  transform-origin:left top;
  opacity: 0;
  transform:scale(0.7);
  transition: opacity 0.1s, transform 0.1s;
}
ul#dropItems li {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 3px 15px;
  transition: background-color 0.3s;
}
#darkItem:hover{
  background: #2a2a2a;
}
#lightItem:hover{
  background: #dfdfdf;
}
#dropdown_menu li a:hover ul#dropItems{
  transform:scale(1);
  opacity: 1;
}