.info {
  & > div {
    display: flex;
    margin: 5px 0px;
  }
  span {
    width: 95px;
    margin: 5px;
  }
  span + div {
    width: calc(100% - 95px); 
  } 
  a {
    display: inline-block;
    padding: 5px;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 5px;
  }
  a:hover {
    background-color: rgb(165, 162, 162);
  }

}