.toggle {
  border-radius: 30px;
  height: 40px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  justify-content: space-around;
  padding: 10px 5px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  background: linear-gradient(346.78deg, #f7fcfc 0%, #fafcfa 100%);
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
  color: #afb3b4;
  font-size: 14px;
  span {
    width: 60px;
    padding: 5px 10px;
    margin: 5px 0px;
    text-align: center;
  }
  .active {
    color: #4a473f;
    background-color: #ff9898;
    border-radius: 30px;
  }
}