.reactMarkDown a:link {
  color: #3366FF;
  background-color: transparent;
  text-decoration: none;
}
.reactMarkDown a:visited {
  color: #3366FF;
  background-color: transparent;
  text-decoration: none;
}
.reactMarkDown a:hover {
  color: #3366FF;
  background-color: transparent;
  text-decoration: underline;
}
.reactMarkDown a:active {
  color: #3366FF;
  background-color: transparent;
  text-decoration: underline;
}
